@import "../mixin.module.scss";

.pillar {
  width: 100%;
  max-height: 50%;
  color: #fff;
  background-color: $bg-color;
  text-align: center;
  vertical-align: top;
  max-height: 300px;

  &:not(:last-child) {
    margin-right: 2px;
  }
}
